*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
}

.items {
    display: none;
}

header, section, input, button {
    width: 100%;
}

.logo {
    display: flex;
    width: 90%;
    margin: auto;
    padding-top: 10%;
    padding-bottom: 15%;
}

h1 {
    font-size: 24px;
    font-weight: 700;
}
 
.regis {
    font-size: 16px;
    font-weight: 400;
    width: 80%;
    margin-top: 3%;
}

.v_text, .inp {
   width: 90%;
   margin: auto;
}


.r_text, .foot {
    width: 90%;
    margin: auto;
    text-align: center
}

.inp{
    padding-top: 10%;
}

input {
    padding: 4% 0;
    margin: 3% 0;
    border-radius: 4%;
    border-color: rgba(145, 158, 171, 0.3); 
    font-size: 16px;
    color: #919EAB;
    padding-left: 5%;
    
}

button{
    padding: 4% 0;
    margin: 3% 0 6% 0;
    border-radius: 8%;
    box-shadow: 0px 8px 16px rgba(50, 88, 251, 0.24);
    background-color: #3258FB;
    color: #FFFFFF;
    font-size: 15px;
}

.foot p {
    font-size: 14px;
}

span {
   color: #3258FB;
}
.foot {
    padding: 10% 0 30% 0;
}

.r_text p{
    font-size: 14px;
    color: #919EAB;
}



@media (min-width: 820px) { 
    body{
       width: 100%;
       display: flex;
       padding-bottom: 10%;
    }
    .items {
        display: block;
        width: 30%;
        height: 800px;
        box-shadow: 0px 16px 32px -4px rgba(145, 158, 171, 0.12);
    }

    header, section {
        width: 100%;
        margin: auto;
    }
    
    .logo {
        display: none;
    }
    
    .lg_2{
       display: flex; 
       padding-top: 10%;
       padding-left: 10%;
       padding-bottom: 50%;
    }
    
    .logo2{
        width: 30px;
        height: 30px;
        margin-right: 2%;
    }
    h2 {
        font-size: 26px;
    }


    .rod{
        display: flex;
        width: 70%;
    }


    .foot{
        width: 30%;
        margin: 0;
        padding-top: 4%;
    }

    .v_in input {
        width: 48%;
        
    }
    .v_in{
        display: flex;
        justify-content: space-between;
    }

    .roodd {
        padding-top: 25%; 
        padding-left: 20%; 
        width: 100%;
    }
    .regis{
        width: 100%;
    }
    .inp{
        padding-top: 5%;
    }

}